body {
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 992px) {
  body {

  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.header {
  color: white;
}

a {
  color: #5c5aa8;
}

/* visited link */
a:visited {
    color: #5c5aa8;
}

/* mouse over link */
a:hover {
    color: #ca2487;
}

.py-5 {
  background: linear-gradient(to bottom, #5c5aa8 0%, #5383c3 100%);
}
